body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.file_input_btn {
    display: block;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 200px;
    margin-top: 25px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 0px 5px #d6d6d6;
    border: none;
    position: relative;
    color: red;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
/*
.file_input_btn input {
    display: none
}*/

.photo__button-redball2 {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 35%;
}

@keyframes middle {
    0% {
        opacity: 1;
        transform: scale(0.6);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.photo__button-redball2::after {
    content: " ";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 60%;
    border: 5px solid red;
    opacity: 0;
    animation: middle 1s linear infinite;
}
.photo__button-redball2::after {
    animation-duration: 2s;
}