
.photo__button-redball1 {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 35%;
}

@keyframes middle {
    0% {
        opacity: 1;
        transform: scale(0.6);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
    }
}


.photo__button-redball2::after {
    animation-duration: 2s;
}